:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

.card {
  padding: 1rem;
  margin: 1rem;
  background: #0b3a67;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;

  h3 {
    font-weight: 700;
    font-size: 1.75rem;
  }

  p {
    font-weight: 500;
  }

  img {
    max-width: 8rem;
    border-radius: calc(infinity * 1px);
  }
}

ul {
  display: flex;
  gap: 2rem;

  svg {
    color: #0b3a67;
    height: auto;
  }
}

/*
body {
  background-color: #e3edfb;
  color: black;

  :first-child {
    background-color: white;
    display: flex;
    gap: 2em;
  }

  img {
    width: 30%;
    border-radius: 50%;
  }

  :nth-child(2) {
    align-self: center;

    h1 {
      font-weight: bold;
    }

    h2 {
      color: aquamarine;
    }
  }

  :nth-child(3) {
    display: flex;

    svg {
      color: grey;
    }

    :first-child {
      grid-column: 1;
    }
    :nth-child(2) {
      grid-column: 2;
    }
    :nth-child(3) {
      grid-column: 3;
    }
    :nth-child(4) {
      grid-column: 4;
    }
  }
}
*/
